<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Created</title>
    <link th:href="@{/css/create_account_success.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>User Account Successfully Created</h2>

    <div class="details">
        <h3>ID of Created Account:</h3>
        <p th:text="${userAccount.id}"></p>
    </div>

    <div class="details">
        <h3>Username of Created Account:</h3>
        <p th:text="${userAccount.username}"></p>
    </div>

    <a href="/" class="button">Back to Home Page</a>
</div>
</body>
</html>