<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create An Account</title>
    <link th:href="@{/css/create_account.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>User Account Creation Page</h2>
    <p>Already have an account? Log in <a href="/login">here</a>.</p>
    <form method="POST" action="#" th:action="@{/create_account}" th:object="${userAccount}">
        <fieldset>
            <legend>Create New User Account</legend>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:field="*{username}">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" th:field="*{password}">
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    <a href="/">Back to home page</a>
</div>
</body>
</html>