<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Mini Surveymonkey Home Page</title>
</head>
<body>
<h1>Mini Surveymonkey - Group 31</h1>
<br>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li th:if="${username}">
            <a href="/create">Create Survey</a>
        </li>
        <li th:unless="${username}">
            <a href="/login">Login</a>
        </li>
        <li th:unless="${username}">
            <a href="/create_account">Create Account</a>
        </li>
        <li th:if="${username}">
            <a href="/logout">Log Out</a>
        </li>
        <li th:if="${username}">
            <a href="/dashboard">Dashboard</a>
        </li>
    </ul>
</nav>
<br>
<h2>List of Surveys:</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="survey : ${surveys}">
            <td th:text="${survey.id}"></td>
            <td>
                <a th:href="@{/{id}(id=${survey.id})}" th:text="${survey.name}"></a>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
<p th:unless="${username}">You are not currently logged in.</p>
<p th:if="${username}">You are currently logged in as: <span th:text="${username}"></span>.</p>
</body>
</html>