<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login to MiniSurveyMonkey</title>
    <link rel="stylesheet" href="/css/login.css">
    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById("password");
            const toggleButton = document.getElementById("togglePassword");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleButton.textContent = "Hide";
            } else {
                passwordField.type = "password";
                toggleButton.textContent = "Show";
            }
        }
    </script>
</head>
<body>
<form method="POST" action="#" th:action="@{/login}" th:object="${userInfo}">
    <fieldset>
        <legend>Log In to User Account</legend>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:field="*{username}">
        <br><br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" th:field="*{password}">
        <button type="button" id="togglePassword" onclick="togglePasswordVisibility()">Show password</button>
        <br><br>
        <button type="submit">Submit</button>
    </fieldset>
</form>
<a href="/">Back to Home page</a>
</body>
</html>
