<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Survey</title>
    <link th:href="@{/css/survey.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" th:src="@{/js/survey.js}"></script>
</head>
<body>
<br>
<a href="/">Back to list</a>
<p>Survey Name:</p>
<p th:text="${survey.name}"></p>

<script>
    connect("[[${survey.getId()}]]");
    $(document).ready(function () {
        $('.survey-submit').on("click", function () {
            var formData = JSON.stringify($(".surveySubmission").serializeArray());
            var baseURL = window.location.origin;
            $.ajax({
                type: 'POST',
                url: baseURL + "/submitSurvey",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: formData
            });
            setTimeout(function () {
                window.location.href = baseURL;
            }, 300);
        });
    });
</script>


<form class="surveySubmission">
    <input type="hidden" name="id" th:value="${survey.getId()}" />
    <div th:each="question,iter : ${survey.getQuestions()}">
        <div th:switch="${question.getType()}">
            <div th:case="MCQ">
                <p th:text="${question.getQuestion()}"/>
                <ul>
                    <li th:each="radioValue: ${question.getChoices()}">
                        <input type="radio" th:name="mcq- + ${question.getId()}" th:value="${radioValue}" />
                        <label th:text="${radioValue}"> </label>
                    </li>
                </ul>
            </div>
            <div th:case="OE">
                <p th:text="${question.getQuestion()}"/>
                <input type="text" th:name="oe- + ${question.getId()}">
            </div>
            <div th:case="NR">
                <p th:text="${question.getQuestion()}"/>
                <div class="slidecontainer">
                    <input type="range" th:name="nr- + ${question.getId()}" th:min="${question.getMin()}" th:max="${question.getMax()}" th:value="${question.getMin()}" class="slider" oninput="this.nextElementSibling.value = this.value">
                    <output th:text="${question.getMin()}"></output>
                </div>
            </div>
        </div>
    </div>
    <input class="survey-submit" type="button" value="Submit"/>
</form>
<br><br>
<p th:unless="${username}">You are not currently logged in.</p>
<p th:if="${username}">You are currently logged in as: <span th:text="${username}"></span>.</p>
</body>
</html>